{
    "presets": [["@babel/preset-env", { "targets": { "node": "current" } }], "@babel/preset-typescript"],
    "plugins": [
        [
            "module-resolver",
            {
                "root": ["./"],
                "alias": {
                    "types": "./src/types",
                    "api": "./src/api",
                    "services": "./src/services",
                    "config": "./src/config",
                    "models": "./src/models"
                }
            }
        ],
        ["@babel/plugin-proposal-decorators", { "legacy": true }],
        ["@babel/plugin-proposal-class-properties", { "loose": true }],
        ["@babel/plugin-transform-typescript"]
    ],
    "comments": false,
    "ignore": ["./src/test"]
}
