{
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": {
                    "node": "current"
                }
            }
        ],
        "@babel/preset-typescript"
    ],
    "plugins": [
        [
            "module-resolver",
            {
                "root": ["./src"],
                "alias": {
                    "@types": "./types",
                    "@api": "./api"
                }
            }
        ],
        ["@babel/plugin-transform-typescript"]
    ],
    "comments": false,
    "ignore": ["./src/test"]
}
